.Main{
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 100vh;
}
.SideMenuAndPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}
